.tag-section {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    padding: 3% 0;
}

.tag-link {
    width: 100%;
    height: 60cqw;
}

.tag-section p {
    width: 100%;
    min-height: 30cqw;
    font-size: 0.9rem;
    padding: 6% 0;
}