*{
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    display: auto;
    opacity:1;

}
button:hover, label:hover, a:hover{
    cursor: pointer;
    opacity:0.6;
    
}