/* Estilos estáticos para o componente de menu */
.navegation{
    width:100%;
    height:6%;
    font-size:1.2rem;
    font-weight:bolder;
    display:flex;align-items:center;
    justify-content:space-around;
    padding:0 1.2vw;
}
.navegation a, .navegation label{
    padding:0.09em;
}
.navegation input[type='radio']:checked + .menuLabel{
    text-decoration:underline;
    opacity:0.3;
}