/* Estilos estáticos para o componente de menu */
.navegation {
    width: 100%;
    height: auto;
    font-size: 1.2rem;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 1.2vw;
}

.navegation a {
    padding: 0.09em;
    color: white; /* Cor de texto padrão */
    text-decoration: none;
}

.navegation a:hover {
    opacity: 0.7;
}