#search {
    min-width: 44px;
    min-height: 45px;
    position: relative;
    border: solid 0.06vh black;
    border-radius: 0.9vh;
    display: flex;
    justify-content: space-between;
    flex-shrink: 1;
    background-color: white;
    z-index: 6;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
#search input {
    width: 60%;
    height: 100%;
    font-size: 100%;
    border-radius: 0.9vh;
    padding-left: 3%;
    outline: none;
    z-index: 3;
}
#search button {
    min-width: 44px;
    width: 30%;
    min-height: 44px;
    height: 100%;
    border-radius: 0.9vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100%;
    font-weight: bold;
    cursor: pointer;
    z-index: 3;
    color: #363636;
}
#search a {
    min-width: 44px;
    width: 39%;
    height: 100%;
    position: absolute;
    right: 0;
    z-index: 1;
    flex-grow: 1;
}
#search a:hover {
    background: rgba(90, 90, 90, 0.09);
}
.waranasSearchItems{
    display: flex;
    justify-content: center;
    align-items: center;
}

.waranasSearchItemsReturn{
    width: 100%;
    min-height: 45px;
    margin-top: auto;
    font-size: 100%;
    font-weight: bolder;
    background-color: rgba(90, 90, 90, 0.18);
}

.waranasSearchItemsReturn:hover{
    background-color: rgba(90, 90, 90, 0.6);
}

#search svg {
    width: 45%;
    height: 51%;
}