.tagList {
    width: 100%;
    padding: 0 12%;
}

/* O Todo agora é uma Section */
.tag-section {
    width: calc(var(--tagList-tm) * 7.8vw);
    display: flex;
    justify-content: start;
    margin: 1.5% 0;
    border-top: solid 0.12vh black;
    padding: calc((var(--tagList-tm) * 1vw) / 6) 0.18%;
    overflow: hidden;
}

/* O Link agora é a Imagem com o Blur */
.tag-link {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 0.6cqw;
    display: block;
    overflow: hidden;
    background-color: #000;
    text-decoration: none;
}

/* Camada 1: O fundo borrado */
.tag-link::before {
    content: '';
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    background-image: var(--bg-img);
    background-size: 210%;
    background-position: top;
    background-repeat: no-repeat;
    filter: blur(10px) brightness(0.6);
    z-index: 1;
}

/* Camada 2: A imagem nítida (frente) */
.tag-link::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: var(--bg-img);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
    transition: transform 0.5s ease;
}

/* Efeito de hover opcional na imagem */
.tag-link:hover::after {
    transform: scale(1.05);
}

.tag-link:hover {
    opacity: 1;
}

.tag-section p {
    width: 81%;
    text-align: justify;
    padding: 1.5rem 1.2%;
    font-size: 0.9rem;
    resize: none;
    background: none;
    border: none;
    overflow: hidden;
    outline: none;
}